section.section.section-components.pb-0
  .container
    .row.justify-content-center
      .col-lg-12
        h2#about-niser.mb-4
          span About NISER
        p
          | National Institute of Science Education and Research (NISER),
          | Bhubaneswar, established in 2007, envisioned to be a unique
          | institution of its kind in India under the aegis of the
          | Department of Atomic Energy (DAE). It has been established with
          | the aim of embedding scientific rigor within larger pedagogic
          | practices in our country. The Institute is affiliated with Homi
          | Bhabha National Institute (HBNI), Mumbai, a deemed research
          | university that oversees academic programs at Institutions that
          | are part of the DAE structure.
        p
          | NISER cultivates some of the best young scientific minds in the
          | country. The current science education and cutting edge research
          | experience of our students allows them to think in terms of
          | qualitative difference in their learning outcomes, rather than
          | merely attending classes.
        p
          | NISER offers world class facilities-fully equipped library,
          | state of the art laboratories and computational facilities and
          | amazing infrastructure to its students along with training from
          | supremely qualified faculty members with splendid research based
          | achievements.
        p
          | Students participate in institute talks, seminars, colloquia
          | that are held regularly, encouraging students to think and
          | question current narratives. NISER promotes both theoretical and
          | experimental research in frontier areas in all branches of
          | science, putting equal emphasis on both research and teaching.
