section.bg-secondary.pt-3
  .container
    .row
      h2.display-3
        span Clubs and Extracurriculars
      p.lead.text-center
        | NISER has a wide array of student-run extra and co curricular
        | clubs, which remain active all year round. The common structure of
        | any club is that it functions with a core committee to coordinate
        | all volunteer activities. We have, currently active, 18 clubs- in
        | the cultural council under the general secretary of cultural
        | affairs. They are the art club, ArC, Chess club, Dance club, Drama
        | and Music club, Film club, Literary club LitC, Quizone quiz club,
        | Photography club, Yoga club, and Zaariya- the social service club.
        | We also have the NISER astronomy club, Brain Matters- a
        | neuroscience enthusiasts&rsquo; hub, Coding club, Science Activities
        | club, RoboTech club with a funded lab, Mathematix club, nature
        | club-Oorna, which expose the students to co curricular education
        | and provide hands on training sessions in respective fields. The
        | sports club boasts of talented players who demonstrate dedication
        | and discipline in regularly organised interbatch tournaments.
