section.section.section-components.pb-0
  .container
    .row.justify-content-center
      .col-lg-12
        h2#directors-message.mb-4
          span Director's message
        figure
          blockquote.blockquote
            p
              | The National Institute of Science Education and Research, (NISER)
              | Bhubaneswar is a pre-eminent Institution of science education and
              | research under the Department of Atomic Energy of India. NISER has
              | the mandate to impart undergraduate science education on a research
              | driven foundation, building resources for our nation’s future of
              | burgeoning research and development requirements. The Institute has
              | an Integrated M. Sc. programme to which students are admitted
              | through a rigorous national level screening test. The students of
              | the programme get a preliminary grounding training in all major
              | scientific disciplines for one year, following which they choose a
              | major discipline for their programme. The students also get
              | exposure to basic humanities subjects as a part of their programme.
              | The academic training involves faculty of exceptional track
              | records, research oriented pedagogy, exposure to advanced
              | scientific laboratories and techniques, and significant amount of
              | research projects. We also have very dynamic PhD programmes in
              | various disciplines, and an Integrated M.Sc–PhD programme. The
              | institute boasts laboratories with cutting edge technologies in all
              | major scientific disciplines. All our academic programmes are under
              | the auspices of and degrees are awarded by the Homi Bhabha National
              | Institute (HBNI), one of the topmost education institutions of the
              | country; ranked 14 according to the National Institutional Ranking
              | Framework-2020. Besides, NISER has been recognized by Clarivate
              | Analytics as the most influential research Institution for its
              | outstanding and pioneering research contribution to the country
              | under the category of Institutions established within 15 years.

            p.mb-0
              | In the last one and half decades of its existence, NISER has
              | received national and international acclaim for the research
              | achievements of our faculty and academic excellence of our
              | students. The accomplishments of our young alumni underpins the
              | relentless pursuit of excellence by the institute. The maturity,
              | scientific temper and academic rigour that our students achieve by
              | the time of graduation render them ideally suited for handling
              | tomorrow’s research and development challenges of respective
              | scientific disciplines. Through this message I cordially welcome
              | all organisations and recruiters to our institute.
            figcaption.blockquote-footer Prof. Sudhakar Panda, Director
