section.pb-5
  .container
    .row.mt-4
      .col-md-8.mx-auto.text-center
        h3.display-3 Placement Procedure
    .nav-wrapper
      ul#pp.nav.nav-pills.nav-pills-circle(role='tab-list')
        li.nav-item
          a#pp-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#pp-1' aria-controls='pp-1' aria-selected='true')
            | 1
        li.nav-item
          a#pp-2-tab.nav-link(data-toggle='tab' href='#pp-2' aria-controls='pp-2' aria-selected='false')
            | 2
        li.nav-item
          a#pp-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#pp-3' aria-controls='pp-3' aria-selected='false')
            | 3
        li.nav-item
          a#pp-4-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#pp-4' aria-controls='pp-4' aria-selected='false')
            | 4
        li.nav-item
          a#pp-5-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#pp-5' aria-controls='pp-5' aria-selected='false')
            | 5
        li.nav-item
          a#pp-6-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#pp-6' aria-controls='pp-6' aria-selected='false')
            | 6
        li.nav-item
          a#pp-7-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#pp-7' aria-controls='pp-7' aria-selected='false')
            | 7
    .card.shadow.bg-secondary(style='transform: translateY(-10%)')
      .card-body
        .text-center.tab-content
          #pp-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pp-1-tab')
            p.lead
              | Placement cell invites companies to the campus.
          #pp-2.tab-pane.fade(role='tabpanel' aria-labelledby='pp-2-tab')
            p.lead
              | Companies/Organizations will have to fill a Job Notification
              | Form(JNF) containing the details of the job.
          #pp-3.tab-pane.slide(role='tabpanel' aria-labelledby='pp-3-tab')
            p.lead
              | If pre-placement talks are needed, then a date will be fixed
              | by the placement-cell
          #pp-4.tab-pane.fade(role='tabpanel' aria-labelledby='pp-4-tab')
            p.lead
              | Details of students are made available to the companies for
              | prior short listing, if required
          #pp-5.tab-pane.fade(role='tabpanel' aria-labelledby='pp-5-tab')
            p.lead
              | Placement cell allots dates to companies for campus
              | interviews.
          #pp-6.tab-pane.fade(role='tabpanel' aria-labelledby='pp-6-tab')
            p.lead
              | Companies visit the campus, take tests/GDs/Interviews and
              | furnish a final list of selected and withheld candidates to
              | the placement cell.
          #pp-7.tab-pane.fade(role='tabpanel' aria-labelledby='pp-7-tab')
            p.lead Selected students are registered for jobs.
