section.bg-secondary.pt-4.pb-4
  .container
    .row.justify-content-center
      .col-lg-12
        .card.shadow
          .card-body
            h2
              span Selection procedure and Scholarship
            p
              | NISER offers namely 3 degrees, Integrated MSc, Integrated
              | MSc-PhD, and PhD degree.
            p
              | NISER offers 5-year integrated M.Sc. Programme in Biological
              | Sciences, Chemical Sciences, Mathematical Sciences and Physical
              | Sciences. The curriculum for the first two semesters (first
              | year) is common to all students and specialization begins from
              | the second year. After specialization in second year, students
              | are required to go through a certain number of courses in other
              | disciplines. Apart from these, students are required to go
              | through some compulsory courses in humanities, social sciences,
              | technical communication, history of science, environmental and
              | energy sciences. In the fifth year every student undertakes a
              | guided research project, the outcome of which is reported in
              | the form of a thesis. Throughout the five-year programme,
              | students are encouraged to take up summer projects and visit
              | reputed national, international laboratories and universities.

            h3
              span  Selection into NISER
            p
              | Students seeking admission in NISER in 5 year Integrated M.Sc.
              | programme will have to appear for National Entrance Screening
              | Test (NEST) conducted every year at 90 centers in India where
              | approximately 80,000 students take the test to fill 200 seats
              | in NISER. (0.25% acceptance rate)
            p
              | All undergraduate students of NISER are recipients of either
              | the INSPIRE, DISHA or KVPY fellowship with a minimum monthly
              | stipend of Rs 5000 and contingency of Rs 20,000.
