section.bg-secondary.pt-4
  .container
    .row
      .col-md-8.mx-auto.text-center
        h3.display-3 Skills of students
        p.lead
          | Besides mandatory requirements, students are actively encouraged
          | to participate in several professional skill development and
          | networking activities such as workshops,colloquium, and
          | conferences, making them well equipped to handle any challenge
          | and perform optimally even outside their comfort zones. Thus,
          | NISER graduates have honed distinguished skills by the time they
          | pass out.
    .row.justify-content-center
      // Logical and Critical Thinging
      .col-md-4
        .info
          .icon.icon-lg.icon-shape.icon-shape-primary.shadow.rounded-circle
            i.ni.ni-settings-gear-65
          h6.info-title.text-uppercase.text-primary
            | Logical and Critical Thinking
          p.description.opacity-8
            | Critical thinking is fundamentally a process of questioning
            | information and data, as a part of a research group, every
            | student has to logically and critically analyse the topic or
            | given unsolved problems so that they can proceed further. Many
            | such critical thinking assignments are part of students theory
            | and lab courses.
      // Reading and Study Stratergies
      .col-md-4
        .info
          .icon.icon-lg.icon-shape.icon-shape-success.shadow.rounded-circle
            i.ni.ni-book-bookmark
          h6.info-title.text-uppercase.text-success
            | Reading and Study Strategies
          p.description.opacity-8
            | Due to the rigorous semester coursework and schedules and lab
            | work that NISER boasts of, students have developed the ability
            | to proficiently manage time so as to read and prepare for
            | exams as well as read and analyse research papers to cope up
            | with ongoing assigned research projects.
      // Co curricular development
      .col-md-4
        .info
          .icon.icon-lg.icon-shape.icon-shape-warning.shadow.rounded-circle
            i.ni.ni-compass-04
          h6.info-title.text-uppercase.text-warning
            | Co curricular development
          p.description.opacity-8
            | Our student body is less in number as compared to other
            | colleges and universities, but we participate and organise
            | almost all of the activities at par with other universities.
            | This leads to the active involvement of students in more than
            | one dedicated club of extracurricular activity and managing
            | their activities all year long.
      // Research and presentation Skills
      .col-md-5
        .info
          .icon.icon-lg.icon-shape.icon-shape-default.shadow.rounded-circle
            i.ni.ni-chart-bar-32
          h6.info-title.text-uppercase.text-default
            | Research and presentation Skills
          p.description.opacity-8
            | Not only are our students proficient in their research skills,
            | they are adept at presenting their data in a coherent fashion,
            | an important skill to excel in their daily coursework and
            | projects. While some people take this in their stride, others
            | find it much more challenging initially, which they ultimately
            | overcome by the time they graduate with their thesis.
      // Writing and Communication Skills
      .col-md-5
        .info
          .icon.icon-lg.icon-shape.icon-shape-info.shadow.rounded-circle
            i.ni.ni-align-center
          h6.info-title.text-uppercase.text-info
            | Writing and Communication Skills
          p.description.opacity-8
            | In the course of the program, everyone has to do research and
            | write a thesis at the end of last semester. This process not
            | only hones their research acumen but also leads to better
            | communication skills, written or otherwise-working as a team,
            | continually communicating with their lab members, PI and
            | thesis committee. Even as part of our coursework and exams,
            | which do not merely test our memory, but also our
            | understanding and how well we can convey the solution
            | efficiently, is a testament to students&rsquo; communication skills.
    .row
      .col-md-8.mx-auto.text-center.pb-2
        p.lead
          | NISER is well equipped with state-of-the-art research facilities
          | at par with global standards, such as the NMR spectrometer,
          | multiple types of mass spectrometers, single crystal, powder,
          | and protein X-Ray diffractometers, field emission scanning
          | microscopes, ultrafast laser systems, EPR facility and many more
