section.pt-4.pb-3.bg-info
  .container
    .row.justify-content-center
      .col-lg-12
        h2#training-offered.mb-4
          span Training offered
        p(style='color: 464646')
          | NISER offers its students multiple opportunities and platforms
          | to develop and hone their skills of problem solving, critical
          | thinking and eloquent communication and leadership and
          | management skills. Specialised training is also offered in the
          | form of workshops like RAD@Astronomy by Dr Anand Hota and the
          | Clinical research in cancer workshop. Summer schools are
          | regularly held by all departments, and multiple conferences and
          | meetings with international delegates expose students to various
          | fields of the subject, like in National Conference cum Workshop
          | on Stress and Metabolic Syndrome, Indo-European sym. on
          | Frontiers of Chemistry, National Conference On Science,
          | Technology and Society, International Conference on Plant
          | Developmental Biology &amp; 3rd National Arabidopsis Meeting,
          | Introductory School on Galaxy Formation,Workshop on Cyber
          | Security 2018,Advance Instructional School on Stochastic
          | Processes 2018,Workshop on Number Theory, ACM Summer School,
          | International Olympiad on Astronomy and Astrophysics. Apart from
          | institute organised training, students take initiative in
          | conducting training sessions where hands on skill is imparted,
          | and organising interdisciplinary talks, inviting speakers from
          | industry, academia and all walks alike, to interact with and
          | learn from.
