extends include/_content

block title
  title Achievements | NISER - Placement Cell

block hero-title
  | Achievements

block head
  link(type='text/css' href='./static/css/fancy-lists.css' rel='stylesheet')

block append body
  main

    // NISER Achievements
    .container
      .row.justify-content-center
        .col-lg-12
          h2#alumni-and-their-achievements.display-3 Alumni and their Achievements

          p
            | An institution's alumni are the reflection of its past,
            | representative of its present, and a link to its future. Our Alumni
            | have brought great glory to our institution. They have set the
            | example of being a successful and good human being. They inspire us
            | to have a clear conscience, the courage to speak the truth, and the
            | importance of being authentic.
          p
            | Our alumni are part of several companies and Institutes such as
            | ISRO, BARC, Facebook, MIT, OXFORD, YALE, UNIVERSITY OF CHICAGO,
            | Texas, Max Planck, IISc, IIMs, Cipla, among others. Some of the
            | alumni are faculty at universities such as IIT, TIFR, HRI.
          p Some of them are listed below:
          ol.gradient-list
            li Dr. Amit Kumar - Assistant professor of Mathematics at NIT-Andhra Pradesh.
            li Dr. Mohammed Nasim- Faculty at IISER Berhampur.
            li Dr. Sandeep Chatterjee- Faculty at IISER Berhampur.
            li Dr. Chitrasen Jena-Faculty at IISER Tirupati.
            li Dr. Sabhyasachi Ghosh- Faculty at IIT Bhilai.
            li Shorba Bhattacharya secured the 1st rank in NET 2017
            li Pavan secured the 2nd rank in NET 2019
            li Dr. Sesa Dev is a Research Associate at the Georg-August University of Gottingen, Germany.
            li Mr. Vijay J Iyer became the first recipient of the Rajendran Raja Fellowship of Fermilab.
            li Dr. Sandeep Rana, Data Scientist, ARP Investment
            li Dr. Minaxi Sharma, Managing Member, Ample Electrical Solution.
            li Dr. Samir Kumar, Assistant Professor, JaiPrakash Narayan University, Bihar
            li Dr. Sabita Das, Assistant Professor, KKS Women's College.
            li Arjun Mani, Faculty at Ghani Khan Choudhury Institute of Engineering and Technology.
            li Dr. Gaurav Jha- Process Engineer, Intel Corporation
            li Dr. Soham Saha- Clinical Scientist, IPSEN
            li Dr. Siddharth Satpathy- Machine Learning Engineer at Deepfence Inc.
            li Dr. Sabyasachi Barik- Photonics Engineer, Nexus Photonics
            li Dr. Harveen Kaur- Process Engineer, Intel Corporation
            li Dr. Dibyajyoti Dutta- Credit risk analyst, Goldman Sachs
            li Dr. Adyasha Panigrahi- Senior Scientist at Sygnature Discovery
            li Mr. Mohit Soni- Scientist at BARC
            li Mr. Rudra Prasad Sahu- IIM, Lucknow
            li Mr. Ankit Singh- IIM, Ranchi
            li Mr. Srikant Kumar Sethi- IIM, Ranchi
            li Mr. Sunil Swain- IIM, Kashipur
            li Mr.Himanshu Choudhary-IIM, Kozhikode
            li Ms . Subhashree Jena- IIM, Udaipur
            li Mr.Shiba Prasad Sahoo-IIm, Lucknow
            li Mr.Aman Ranga-IIM-kashipur
            li Mr.Amal k Vinod- IIFT, Delhi
          hr
          h2#niser-achievements.display-3 NISER Achievements
          ol.gradient-list
            li
              | HBNI was ranked 2nd in the country by the Nature Index 2020.
            li
              | NISER was awarded the India Research Excellence-Citation
              | Award-2019 by Clarivate Analytics.
            li
              | HBNI, NISER&rsquo;s parent university ranked 14 in NIRF university
              | rankings.
            li
              | Team of students from NISER batch 17 were selected for the
              | national team to represent India in the International Physical
              | Tournament-2019 in EPFL, Lausanne, Switzerland.
            li
              | Dr A Srinivasan and Dr C Gunanathan, our faculty for the school
              | of chemical sciences, are recipients of the prestigious CRSI
              | medal.
            li
              | Dr Bedanga Mohanty and Dr. Ajay kumar Nayak of SPS made it to
              | the list of top 2% scientists in the world among all disciplines
              | during a single calendar year 2017 and 2019 based on Stanford
              | university&rsquo;s survey .
            li
              | Our faculty includes Shantiswarup Bhatnagar awardees, Dr
              | Bedangadas Mohanty (SPS), Dr TK Chandrashekar (SCS) and Dr V
              | Chandrasekhar (SCS), DBT Wellcome Trust Alliance awardee Dr
              | Mohammed Saleem, INSA young scientist Dr Sutanu Roy (SMS) and
              | elected fellow of IAS, Dr Sayantani Bhattacharya (SPS), and
              | associates of the IAS, Dr Tuhin Ghosh and Dr Ajaya Nayak (SPS).
            li
              | Our teaching faculty also includes recipients of the Ramanujan
              | fellowship-Dr Gunanathan, Dr Khandai, Dr Prolay Mal, Dr
              | Krishnan, Dr Subhadip Ghosh, Dr Ashish Nandi, Dr Liton Majumdar
              | and Dr Ajaya Nayak, Ramalingaswami fellow, Dr Palok Aich, and
              | many Early career research awardees.
            li
              | Dr Guneshwar Thangjam from our School of Earth and Planetary
              | Sciences has an asteroid named after him, 11806 Thangjam.
            li
              | Dr Liton Majumdar of SEPS is a member of the Royal Astronomical
              | Society.
            li
              | Dr Aniruddha Datta-Roy, of School of Biological Sciences, has a
              | species of skink named after him- Eutropis dattaroyi, honouring
              | his contributions to the field of herpetology.
            li
              | Dr Roy (SBS), and his team, discovered a new skink species in
              | the Western Ghats, currently considered a vulnerable species.
              | This discovery was featured in a national daily- The Hindu.
            li
              | Dr T.k chandrashekar, Dr Vadapalli chandrasekhar, Dr Bedangadas
              | Mohanty, Dr Sudhakar panda are the elected fellow of all the
              | three science academies of India( The Indian Science Academy in
              | new delhi, The National Academy of Sciences, Allahabad, india,
              | Indian Academy of Sciences ,Bengaluru).
            li
              | The research work of Dr Himanshu biswal and Dr Amanredra Das was
              | published in newspapers.
