extends include/_content

block title
  title Courses | NISER - Placement Cell

block hero-title
  | Courses

block append body
  main
    section#schools-and-courses.pt-3.pb-4
      .container
        h2
          span Schools and Courses
        .row.justify-content-center
          // School of physical sciences
          .col-lg-6.mt-5
            .mb-3
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/sps/" target="__blank") School of Physical Sciences
            p
              | The School of Physical Sciences is in pursuit of excellence in
              | research and in teaching. It is engaged in very active research
              | in the frontier areas. Physics of the macro world and micro
              | world are vigorously explored, and students benefit from the
              | excellent resources of a research institution dedicated to
              | undergraduate teaching, developing powerful, broadly-applicable
              | problem-solving skills.
            p
              | (The research topics for school of physical sciences incudes
              | Condensed Matter Physics, Experimental High Energy
              | Physics,String Theory,Ultra-cold atoms &amp; Quantum optics,Non
              | Linear Optics,Quantum information, computation and
              | simulation,Mesoscopic superconductivity,Nanofabrication and
              | Photonics, and Statistical Mechanics and Interdisciplinary
              | Applications.)
            .nav-wrapper
              ul#sps.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#sps-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#sps-1' role='tab' aria-controls='sps-1' aria-selected='true')
                    | Classroom
                li.nav-item
                  a#sps-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#sps-2' role='tab' aria-controls='sps-2' aria-selected='false')
                    | Lab
            .card.shadow
              .card-body
                #MyTabContentSPS.tab-content
                  #sps-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='sps-1-tab')
                    | Mechanics &amp; Thermodynamics
                    br
                    | Electricity, Magnetism &amp; Optics
                    br
                    | Classical Mechanics I
                    br
                    | Classical Mechanics II
                    br
                    | Mathematical Methods I
                    br
                    | Mathematical Methods II
                    br
                    | Electromagnetism I
                    br
                    | Electromagnetism II
                    br
                    | Electronics
                    br
                    | Statistical Physics
                    br
                    | Quantum Mechanics I
                    br
                    | Quantum Mechanics II
                    br
                    | Special Theory of Relativity
                    br
                    | Atoms, Molecules &amp; Radiation
                    br
                    | Introduction to Condensed Matter Physics
                    br
                    | Nuclei &amp; Particle Physics
                  #sps-2.tab-pane.fade(role='tabpanel' aria-labelledby='sps-2-tab')
                    | Physics Laboratory I &amp; II
                    br
                    | General Physics Lab
                    br
                    | Basic Electronics Lab
                    br
                    | Optics Lab
                    br
                    | Advanced Electronics Lab
                    br
                    | Solid State Physics Lab
                    br
                    | Modern Physics Lab I
                    br
                    | Modern Physics Lab II
                    br
                    | Computational Lab
                    br
                    | Open-ended lab I &amp; II
            // School of biological sciences
            .mb-3.mt-5
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/sbs/" target="__blank") School of Biological Sciences
            p
              | The School of Biological Sciences (SBS)  has been involved in
              | mixing and imparting traditional wisdom with modern technology
              | by developing a research programs along with a vibrant
              | teaching curriculum. SBS promotes scholarly and innovative
              | thinking to conduct cutting edge research in diverse areas
              | ranging from molecular to organismic biology.

            .nav-wrapper
              ul#sbs.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#sbs-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#sbs-1' role='tab' aria-controls='sbs-1' aria-selected='true')
                    | Classroom
                li.nav-item
                  a#sbs-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#sbs-2' role='tab' aria-controls='sbs-2' aria-selected='false')
                    | Lab
            .card.shadow
              .card-body
                #MyTabContentSBS.tab-content
                  #sbs-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='sbs-1-tab')
                    | Microbiology
                    br
                    | Biochemistry
                    br
                    | Biophysics and Biostatistics
                    br
                    | Cell Biology hu
                    br
                    | Genetics
                    br
                    | Physiology (Plant)
                    br
                    | Animal Physiology
                    br
                    | Ecology
                    br
                    | Molecular Biology
                    br
                    | Immunology
                    br
                    | Evolutionary Biology
                    br
                    | Bioinformatics
                    br
                    | Developmental Biology
                    br
                    | Bio-techniques
                  #sbs-2.tab-pane.fade(role='tabpanel' aria-labelledby='sbs-2-tab')
                    | Microbiology
                    br
                    | Biochemistry
                    br
                    | Cell Biology
                    br
                    | Genetics
                    br
                    | Physiology (Plant)
                    br
                    | Molecular Biology
                    br
                    | Immunology
            // School of humanities and social sciences
            .mb-3.mt-5
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/shss/" target="__blank") School of Humanities and Social Sciences
            p
              | Humanities and Social Sciences,comprising the disciplines of
              | Economics, English, Philosophy, Psychology and Sociology is an
              | integral component of academic life at NISER. The courses from
              | these disciplines form part of the required listings for
              | undergraduate Science majors of the Integrated Five year MSc
              | programme. The School enjoys a high degree of autonomy in
              | designing core and elective courses for the student community
              | that are primarily intended to encourage an understanding of the
              | social substrate that anchors cultures of science. The courses
              | are enhanced by the complementarity of research undertaken by
              | the Faculty. The school actively contributes to its knowledge
              | eco system by working as a resource centre for the
              | neighbourhood. The School&apos;s research centers on Networks and
              | Social Media, Institutions and the Psychology of Value,
              | Disability and Impact, Urban Psychogeography, Being and
              | Biopolitics, Ecology and Human Systems, Emplotment and Built
              | Environments and Science-Society interface.
            .card.shadow
              .card-body
                | Introduction to Economics
                br
                | Introduction to Sociology
                br
                | Technical Communication I
                br
                | Technical Communication II
                br
                | Environmental Economics and Environmental Impact Assessment
                br
                | Introduction to Psychology
                br
                | Sociology of Science and Technology
                br
                | Perspectives on Indian Society
                br
                | Science Communication and the Citizen
                br
                | Life and Community in Urban World
                br
                | Introduction to Innovation System
                br
                | Speculative Fiction
                br
                | The City in Modern Fiction
          // School of chemical sciences
          .col-lg-6
            .mb-3
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/scs/" target="__blank") School of Chemical Sciences
            p
              | The aim of the School of Chemical Sciences at NISER, is to
              | impart high quality undergraduate and postgraduate level of
              | knowledge to students coupled with cutting edge research
              | activity by the faculty and the students of the school. In
              | addition to traditional organic, inorganic, physical and
              | theoretical chemistry areas, the school embarks on teaching and
              | research activity in the interface areas of Biology, Material
              | Sciences and Medicine.
            .nav-wrapper
              ul#scs.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#scs-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#scs-1' role='tab' aria-controls='scs-1' aria-selected='true')
                    | Classroom
                li.nav-item
                  a#scs-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#scs-2' role='tab' aria-controls='scs-2' aria-selected='false')
                    | Lab
            .card.shadow
              .card-body
                #MyTabContentSCS.tab-content
                  #scs-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='scs-1-tab')
                    | Basic inorganic Chemistry
                    br
                    | Reaction Mechanisms in Organic Chemistry
                    br
                    | Mathematical Methods for Chemists
                    br
                    | Reagents in Organic Syntheses
                    br
                    | Main group and Organometallic Chemistry
                    br
                    | Quantum Chemistry
                    br
                    | Physical Organic Chemistry
                    br
                    | Molecular Spectroscopy and group Theory
                    br
                    | Thermodynamics and Electrochemistry
                    br
                    | Coordination Chemistry
                    br
                    | Chemical Binding
                    br
                    | Physical Methods in Chemistry
                    br
                    | Chemistry of Heterocycles and Natural Products
                    br
                    | Chemical Rate Processes
                  #scs-2.tab-pane.fade(role='tabpanel' aria-labelledby='scs-2-tab')
                    | Inorganic chemistry lab
                    br
                    | Physical chemistry lab
                    br
                    | Biomolecular chemistry lab
                    br
                    | Organic chemistry lab
                    br
                    | Inorganic chemistry lab 2
                    br
                    | Physical chemistry lab 2
                    br
                    | Organic chemistry lab 2
                    br
                    | Masters project
            // School of mathematical sciences
            .mb-3.mt-5
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/sms/" target="__blank") School of Mathematical Sciences
            p
              | Mathematics occupies a core intellectual position at NISER, an
              | institution that is striving to be recognized as a Center of
              | Excellence in science education and research in basic
              | sciences.The School of Mathematics was established as a core
              | department of the NISER along with other three Schools from the
              | very beginning of NISER in 2007.
            .nav-wrapper
              ul#sms.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#sms-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#sms-1' role='tab' aria-controls='sms-1' aria-selected='true')
                    | Classroom
                li.nav-item
                  a#sms-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#sms-2' role='tab' aria-controls='sms-2' aria-selected='false')
                    | More Classroom
            .card.shadow
              .card-body
                #MyTabContentSMS.tab-content
                  #sms-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='sms-1-tab')
                    | Mathematics-I
                    br
                    | Mathematics II
                    br
                    | Real Analysis
                    br
                    | Group Theory
                    br
                    | Discrete Mathematics
                    br
                    | Metric Spaces
                    br
                    | Linear Algebra
                    br
                    | Probability Theory
                    br
                    | Number Theory
                    br
                    | Graph Theory
                    br
                    | Lebesgue Integration
                    br
                    | Rings and Modules
                  #sms-2.tab-pane.fade(role='tabpanel' aria-labelledby='sms-2-tab')
                    | Differential Equations
                    br
                    | Topology
                    br
                    | Statistics
                    br
                    | Calculus of Several Variables
                    br
                    | Field Theory
                    br
                    | Complex Analysis
                    br
                    | Geometry of curves and surfaces
                    br
                    | Numerical Analysis
                    br
                    | Functional Analysis
                    br
                    | Representations of Finite Groups
                    br
                    | Commutative Algebra
                    br
                    | Algebraic Topology

            // School of Computer sciences
            .mb-3.mt-5
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/scps/" target="__blank") School of Computer Sciences
            p
              | The School of Computer Sciences, NISER provides the study of the
              | theoretical foundations of information and computation. It
              | includes practical techniques for their implementation and
              | application in computer systems. Computer scientists invent
              | algorithmic processes that create, describe, and transform
              | information and formulate suitable abstractions to design and
              | model complex systems.
            .nav-wrapper
              ul#scmps.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#scmps-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#scmps-1' role='tab' aria-controls='scmps-1' aria-selected='true')
                    | Classroom
                li.nav-item
                  a#scmps-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#scmps-2' role='tab' aria-controls='scmps-2' aria-selected='false')
                    | R&amp;D Scopes
            .card.shadow
              .card-body
                #MyTabContentSCMPS.tab-content
                  #scmps-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='scmps-1-tab')
                    | Programming and data Structures lab
                    br
                    | Theory of Computation
                    br
                    | Discrete Structures and Computation
                    br
                    | Design and Analysis of Algorithms.
                  #scmps-2.tab-pane.fade(role='tabpanel' aria-labelledby='scmps-2-tab')
                    | Machine Learning
                    br
                    | Cryptography
                    br
                    | Randomised Algorithms
                    br
                    | Information Theory
                    br
                    | Computational Geometry
            // School of earth and planetary sciences
            .mb-3.mt-5
              small.text-uppercase.font-weight-bold
                a(href="https://www.niser.ac.in/seps/" target="__blank") School of Earth and Planetary Sciences
            p
              | School of Earth and Planetary Sciences, NISER is a unique
              | research-driven academic center in India that has been
              | established to emerge and excel in high quality and
              | interdisciplinary scientific research works in Planetary
              | Sciences, Earth Sciences, and Atmospheric-Ocean Sciences. This
              | school is different since it envisions to provide the best
              | unique opportunities and freedom to better serve and enjoy the
              | academic cum research life.
            .nav-wrapper
              ul#seps.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tab-list')
                li.nav-item
                  a#seps-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab' href='#seps-1' role='tab' aria-controls='seps-1' aria-selected='true')
                    | Planetary Sciences
                li.nav-item
                  a#seps-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#seps-2' role='tab' aria-controls='seps-2' aria-selected='false')
                    | Earth Sciences
                li.nav-item
                  a#seps-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab' href='#seps-3' role='tab' aria-controls='seps-3' aria-selected='false')
                    | A-O Sciences
            .card.shadow
              .card-body
                #MyTabContentSEPS.tab-content
                  #seps-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='seps-1-tab')
                    | Exoplanets &amp; Astrobiology
                    br
                    | Planetary Atmospheres
                    br
                    | Planetary Surfaces
                    br
                    | Planetary Formation &amp; Astrochemistry
                    br
                    | Planetary Interiors &amp; Dynamics
                    br
                    | Planetary Astronomy
                    br
                    | Planetary Exploration &amp; Future Missions
                  #seps-2.tab-pane.fade(role='tabpanel' aria-labelledby='seps-2-tab')
                    | Solid Earth Geophysics
                    br
                    | Computational Geodynamics
                    br
                    | Geo-fluid dynamics
                  #seps-3.tab-pane.fade(role='tabpanel' aria-labelledby='seps-3-tab')
                    p.lead Atmospheric-Ocean Sciences
                    | Vegetation-atmosphere-climate coupling in the Amazon
                    | rainforest and the Himalayas
                    br
                    | Regional climatic impacts of land use change
                    br
                    | numerical modeling of regional land-atmosphere coupling
                    br
                    | heat waves and regional scale effects
