extends include/_content

block title
  title Events | NISER - Placement Cell

block hero-title
  | Events

block append body
  .container
    // IOAA
    section.row.justify-content-center
      .col-lg-6
        h2
          span
            | IOAA (International Olympiad in Astronomy and Astrophysics)
            | programme
        p
          | NISER was the host institute for the 10th IOAA program .Young
          | astronomy students from 41 different countries of the world
          | recently participated in the International Olympiad in Astronomy
          | and Astrophysics. It was an opportunity for pre-university
          | students from various countries to meet and make friends with
          | students with similar interests from all parts of the world. In
          | this IOAA, 221 participants from 48 teams came and spent 10 days
          | together competing and interacting with each other, from 9 to 19
          | December 2016 in NISER. Our hosting of the 10th International
          | Olympiad in Moon Astronomy and Astrophysics was a part of our
          | continuing tradition of encouraging young students to appreciate
          | and enjoy the excitement of this oldest of pure sciences. The
          | programme also offered an opportunity to meet Indian students
          | beyond the participants through an active outreach programme
          | associated with the event.
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg.mt-5(src='./static/img/ioaa.jpg')
    // Open day
    section.row.justify-content-center
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg.mt-5(src='./static/img/open_day.jpg')
      .col-lg-6
        h2
          span Open day
        p
          | The NISER Open day is an annual event that is held in our Jatni
          | campus to commemorate science day. This one-day program is
          | organized by NISER students and caters to school students between
          | the ages of 13 and 18. This event aims to reach out to the young
          | minds of society and encourage them to pursue a career in science.
          | Over the course of the day, students visit laboratories within the
          | institute and get to attend talks on trending scientific
          | discussions and discoveries which are presented by the professors.
          | Students of all departments demonstrate experiments and models,
          | explaining scientific concepts in interesting and engaging ways.
    // Umang
    section.row.justify-content-center
      .col-lg-6
        h2
          span Umang
        p
          | Intra-NISER Cultural Fest was organised by the Cultural Council of
          | NISER in collaboration with Student&rsquo;s Gymkhana(NISER). The Aim of
          | our Cultural fest is to give all students the opportunity to be
          | involved in culturally enriching activities,to give those students
          | with special talents a chance to extend themselves and to grow in
          | their area of expertise, and to expand our students appreciation
          | of cultural activities.Events of Art, Dance, Music, Drama, Quiz,
          | Fashion Show, Open Mic, Chess, Photography, Yoga, Short film
          | making and Online Games were organised. Around 300 students
          | participated in Umang, showcasing their talents. The major events
          | organised in this Fest were Chess, Food Fest, Art on Cue, Short
          | Film Making, Yoga Events, Rangreza, Monoranaga.
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg.mt-5(src='./static/img/umang.jpg' alt='Umang image')
    // Dark matter day
    section.row.justify-content-center
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg.mt-5(src='./static/img/dark_matter.png' alt='dark matter poster photo')
      .col-lg-6
        h2
          span Dark Matter day
        p
          | NISER organizes dark matter day every year. Global, regional, and
          | local events are being planned on and around that date by
          | institutions and individuals looking to engage the public in
          | discussions about what we already know about dark matter and many
          | present-day as well as future experiments seeking to solve its
          | mysteries.The event comprises of an introductory dark matter
          | video, followed by talks by some invited speakers and finally
          | concludes with a tour around some demonstration experiments that
          | explain various dark matter concept in an interactive and fun way.
    // Chandrayan 2
    section.row.justify-content-center.mb-5.mt-5
      .col-lg-6
        h2
          span Chandrayan 2
        p
          | The School of Earth and planetary sciences hosted an event of live
          | streaming of Chandrayaan-II to create scientific curiosity and
          | environment among the students.The event comprises of an
          | introductory video, followed by talks by some invited
          | speakers.RoboTech Club in collaboration with Niser Astronomy club
          | developed a working demonstrative model of PRAGYAN Rover, which
          | was on-board of Chandrayaan &ndash; II Mission of ISRO to showcase
          | before the audience.
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg(src='./static/img/chandrayan2.jpg' alt='Chandrayan2 image')
    // Food Fest
    section.row.justify-content-center
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg.mt-5(src='./static/img/food_fest.jpg')
      .col-lg-6
        h2
          span Food fest
        p
          | Zaariya, the social service club, provides campus residents with
          | the platform to show their cooking skills as well as raising funds
          | for the club. There were more than 30 participating teams and the
          | funds raised were used for various noble causes. The whole event
          | was managed by student volunteers, and coordinated by the core
          | committee.
    // IISM
    section.row.justify-content-center
      .col-lg-6
        h2
          span IISM
        p
          | Every year around December, institutes dedicated to promoting
          | basic science and research like NISER, IISERs ,CEBS-Mumbai and
          | IISc Banglore meet for an annual sports event, Inter IISER Sports
          | Meet (most commonly known as IISM). Since its inception in 2012,
          | IISM has been the symbol of sportsmanship, leadership, commitment
          | and strong but healthy competition. For the first time in
          | december,2018 NISER hosted the event successfully and also stood
          | 4th in position. NISERites never fail to give their best
          | performances throughout the tournament.
      .col-lg-6
        img.img-fluid.rounded-circle.shadow-lg(src='./static/img/IISM.jpg' alt='IISM image')
