extends include/_base
mixin row-centered-12
        block

block title
  title NISER - Placement Cell

block append body
  main
    // Hero banner
    .position-relative
      section.section.section-lg.section-hero.section-shaped
        .shape.shape-style-1.bg-hero(style='background-image: url("./static/img/hero.jpeg");background-repeat: no-repeat;background-attachment: fixed;background-size: cover;')
          span.span-15
          span.span-50
          span.span-50
          span.span-75
          span.span-100
          span.span-75
          span.span-50
          span.span-100
          span.span-50
          span.span-100
        .container.shape-container.d-flex.align-items-center.py-lg
          .col.px-0
            .row.align-items-center.justify-content-center
              .col-lg-8.text-center(style="background: #000000af;border-radius: 10px;padding-top: 90px;padding-bottom: 90px;")
                img.img-fluid(src='./static/img/white_logo.png' style='width: 250px' alt='NISER')
                h3.text-white.mt-3
                  | National Institute of Science Education and Research
                p.lead.text-white.mt-3(style='font-size: 2.2rem;') Placement Cell
        // SVG separator
        .separator.separator-bottom.separator-skew.zindex-100
          svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
            polygon.fill-white(points='2560 0 2560 100 0 100')

    // Director's Message
    include include/_directors_message
    // About NISER
    include include/_about
    // Selection procedure and Scholarship
    include include/_selection_procedure
    // Training offered
    include include/_training_offered
    // Skills of students
    include include/_skills_of_students
    // Placement Procedure
    include include/_placement_procedure
    // Culbs and Extracurriculars
    include include/_clubs_and_extra
