extends include/_content

block title
  title Meet the Team | NISER - Placement Cell

block hero-title
  | Meet the Team

block append body
  main
    // content
    .container.pb-5
      .row.justify-content-center
        // Ashish Shukla
        .col-sm-3.col-6.mt-5.mt-sm-0.mb-5
          small.d-block.text-uppercase.font-weight-bold.mb-3 Ashish Shukla
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/shukla.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Chemistry
            span.badge.badge-pill.badge-primary Student Gymkhana President
        // Tanya Pattnaik
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Tanya Pattnaik
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/tanya.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Biology
            span.badge.badge-pill.badge-primary Student Gymkhana Cultural Secretary
        // Arnav Pal
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Arnav Pal
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/arnav.png' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Chemistry
            span.badge.badge-pill.badge-primary Student Gymkhana Treasurer
        // Nikhil Kumar
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Nikhil Kumar (Gupta)
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/nikhil.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Biology
            span.badge.badge-pill.badge-primary UGCI
        // Kanishk
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Kanishk Kumar
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/kanishk.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Biology
            span.badge.badge-pill.badge-primary Former Gymkhana Member
        // Abhishek Anil Deshmukh
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Abhishek Anil Deshmukh
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/abhishek.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Physics
            span.badge.badge-pill.badge-primary Web-Developer
        // Prateek Tata
        .col-sm-3.col-6.mt-5.mt-sm-0
          small.d-block.text-uppercase.font-weight-bold.mb-3 Prateek Tata
          img.img-fluid.rounded-circle.shadow-lg(src='./static/img/prateek.jpg' style='width:180px;')
          .badges.mt-3
            span.badge.badge-pill.badge-primary Maths
