extends include/_content

block title
  title Placement Procedure | NISER - Placement Cell

block hero-title
  | Placement Procedure

block append body
  main
  .container.pb-5
    ol
      li The Placement cell (nodal point for placements) sends invitations to
      li companies/organizations along with relevant information.
      li
        | Company/ Organization fills in a JAF (Job Announcement Form)
        | containing details of the job offer (pay package, location, allowances
        | and other bonuses). Along with the preferred dates of campus visit.
      li The duly filled JAFs should be sent to Placement Cell.
      li
        | Placement Office allots dates to companies for campus interviews
        | based on various details given by companies. The company/
        | organization confirms the dates with the Placement Office.
      li
        | Companies come down to the campus on the allotted date/s and conduct
        | PPT /tests and/or interviews according to their recruitment
        | process.(FOR THIS YEAR IT WILL BE PREFFERED IN ONLINE MODE )
      li
        | The company/ organization is required to furnish and submit the final
        | list of selected students on the same day of campus visit/ONLINE
        | SELECTION to the placement cell.
      li
        | In case the company is unable to declare the result on the same day,
        | then the student is allowed to participate in other companies &amp;
        | the final status will depend upon who declares the result first.
      li
        | The purview of the Placement Cell is restricted only to the offers
        | made as part of the campus placement process.
      li
        | The company shall provide the offer letters to the Placement
        | office/cell and not directly to the students.
    p * The Job Announcement Form provides the primary basis of communicating the details of the positions offered to the candidates. It is therefore, highly desirable that the Form is completed in all respects and it would be advantageous if it were accompanied by relevant company literature/JD.

    h2 Company Classification
    p Based on the compensation packages
    ul
      li A+ Category: CTC >= 10.00 Lacs INR per Annum
      li A Category: 6 Lacs INR < CTC <= 10 Lacs INR per Annum
    p **Companies are allotted dates based on the above parameters:
    p #SUBJECT TO FINAL DECISION OF PLACEMENT CELL AND COMPANY.

    h2 Job Offer for a Student
    ul
      li
        | If a student&#39;s name appears on the final shortlist declared after
        | the Company&#39;s process through the Placement Cell, then that would
        | be considered as an Offer to the student.
      li
        | A student will be <strong> out of campus placement process if he/she gets an
        | offer from A+ Category Company </strong>.
      li The student is allowed to upgrade for an A+ Category company only.
      li
        | PPO Offer is considered as Job Offer; hence the same policy is
        | applicable.


    h2 Student Eligibility
    p All registered students graduating from the institute are eligible to participate in the placement activities.
    p A student can participate in the placement process of a company subject to the following conditions:
    ul
      li The cell has confirmed his/her registration.
      li He/ She meets the requirements/eligibility criteria specified
        ul
          li By the company and
          li By the placement policy(will be updated)


    h2 Acceptance of an Offer
    p Proper due-diligence should be done before formally accepting a job offer as declining an offer, after formal acceptance any changes is violation of code-of- conduct &amp; will be dealt accordingly.
    ul
      li Offer from A+ Category Company is deemed to be accepted &amp; the student is out of campus placement process.

      li A time period will be declared where students have to inform the Cell regarding his/her decision on the offer.
      li The placement cell will send an official confirmation mail to the companies regarding the acceptance or rejection by end of March each year. (In June end for this year only)
      li A student who has accepted an offer is expected to join on the given joining date.
      li If a student does not join after he/she has accepted the offer a penalty will be imposed by the institute.
    h3 Non Acceptance due to further studies:
    ul
      li If  a student does not accept an offer due pursuing higher studies (in India or Abroad),in this situation the student needs to inform the placement cell as soon as possible (latest by March end ) along with the letter/offer received by the university.
      li No penalty of any kind will be imposed, if the above is reported to the placement office in the defined time line.
      li If a student does not inform the Placement Cell regarding his/her decision in person and in writing within the declared time period, then it will be deemed as rejection of the offer &amp; the penalty will be imposed after having discussion between company/ organisation and placement cell.
    p FINAL DECISION OF PLACEMENT CELL IN ANY CASE WILL BE VALID.
